{% extends './main/Main(sin_registro)(37).html' %}


{% block body %}
{% for bolson in bolsones %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">Espacio</div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h1>Lista de Bolsones</h1>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br><br><br>Espacio</div>
        </div>
        <div class="row">
            <div class="col-md-0.5"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ bolson.nombre }}</h5>
                        <a href="/bolson/bolson" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nombre</h5>
                        <a href="/bolson/bolson" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ bolson.nombre }}</h5>
                        <a href="/bolson/bolson" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ bolson.nombre }}</h5>
                        <a href="/bolson/bolson" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-0.5"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br>Espacio</div>
        </div>
        <div class="row">
            <div class="col-md-0.5"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ bolson.nombre }}</h5>
                        <a href="/bolson/bolson" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ bolson.nombre }}</h5>
                        <a href="/bolson/bolson" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ bolson.nombre }}</h5>
                        <a href="/bolson/bolson" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ bolson.nombre }}</h5>
                        <a href="/bolson/bolson" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-0.5"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br>Espacio</div>
        </div>
        <div class="row">
            <div class="col-md-0.5"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ bolson.nombre }}</h5>
                        <a href="/bolson/bolson" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ bolson.nombre }}</h5>
                        <a href="/bolson/bolson" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ bolson.nombre }}</h5>
                        <a href="/bolson/bolson" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ bolson.nombre }}</h5>
                        <a href="/bolson/bolson" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-0.5"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br>Espacio</div>
        </div>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary">Más Bolsones</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">Espacio</div>
        </div>
    </div>
{% endfor %}
{% endblock %}