{% extends './main/Main(sin_registro)(37).html' %}


{% block body %}
{% for producto in productos %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">Espacio</div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                <h1>Lista de Productos</h1>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br><br><br>Espacio</div>
        </div>
        <div class="row">
            <div class="col-md-0.5"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <a href="/bolson/producto" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <a href="/bolson/producto" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <a href="/bolson/producto" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <a href="/bolson/producto" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-0.5"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br>Espacio</div>
        </div>
        <div class="row">
            <div class="col-md-0.5"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <a href="/bolson/producto" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <a href="/bolson/producto" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <a href="/bolson/producto" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <a href="/bolson/producto" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-0.5"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br>Espacio</div>
        </div>
        <div class="row">
            <div class="col-md-0.5"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <a href="/bolson/producto" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <a href="/bolson/producto" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <a href="/bolson/producto" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <a href="/bolson/producto" class="btn btn-primary">Mostrar detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-0.5"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br>Espacio</div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                 <a href="/bolson/crear_editar_producto" class="btn btn-success">Agregar Producto</a>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary">Más Productos</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">Espacio</div>
        </div>
    </div>
{% endfor %}
{% endblock %}