{% extends './main/Main(sin_registro)(37).html' %}


{% block body %}
    <div class = "container-fluid">
         <div class="row">
            <div class="col-md-12">Espacio</div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                <h1>Crear/Editar Proveedor</h1>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-12">Espacio</div>
        </div>
        <div class="row">
            <img src="https://via.placeholder.com/300" class="rounded mx-auto d-block" alt="...">
        </div>
        <div class="row">
            <div class="col-md-12"><br><br><br><br>Espacio</div>
        </div>
         <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br><br><br>Espacio</div>
        </div>
         <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Apellido</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br><br><br>Espacio</div>
        </div>
         <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Teléfono</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br><br><br>Espacio</div>
        </div>
         <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Mail</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-12"><br><br><br>Espacio</div>
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
               <button type="button" class="btn btn-success">Guardar Información</button>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="row">
            <div class="col-md-12">Espacio</div>
        </div>
    </div>
{% endblock %}